DATABASE_URL="postgresql://usuario:senha@ep-xxx.neon.tech/neondb?sslmode=require"
ADMIN_EMAIL="admin@dleve.com"
ADMIN_PASSWORD="admin123"
JWT_SECRET="troque-por-uma-chave-secreta-longa-e-aleatoria"
NEXT_PUBLIC_WHATSAPP_NUMBER="5541985380834"